{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <title>Test page with jqxGrid</title>
    <link rel="stylesheet" href="{% static "css/jqwidgets/jqx.base.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "css/test_app.css" %}" type="text/css"/>
    <script type="text/javascript" src="{% static "js/jquery-2.1.0.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jqwidgets/jqxcore.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jqwidgets/jqxbuttons.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jqwidgets/jqxscrollbar.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jqwidgets/jqxmenu.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jqwidgets/jqxdropdownlist.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jqwidgets/jqxlistbox.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jqwidgets/jqxgrid.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jqwidgets/jqxgrid.selection.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jqwidgets/jqxgrid.columnsresize.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jqwidgets/jqxgrid.pager.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jqwidgets/jqxgrid.sort.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jqwidgets/jqxdata.js" %}"></script>
    <script>
        $(document).ready(function () {
            var url = "{% url "get_all_items" %}";
            var source =
            {
                datatype: "json",
                datafields: [
                    { name: 'id', type: 'int' },
                    { name: 'name' }
                ],
                id: 'id',
                url: url,
                root: 'data'
            };
            var dataAdapter = new $.jqx.dataAdapter(source);
            $("#jqxgrid").jqxGrid(
                    {
                        width: 450,
                        source: dataAdapter,
                        columnsresize: true,
                        pageable: true,
                        sortable: true,
                        editable: false,
                        columns: [
                            { text: 'ID', dataField: 'id', width: 50, cellsalign: 'center', align: 'center' },
                            { text: 'Name', dataField: 'name', width: 350 }
                        ]
                    });
        });
    </script>
</head>
<body>
<header>Welcome {{ user.username }}. Thanks for logging in. / <a href="{% url 'signout' %}">Sign out</a></header>
<div id='jqxWidget'>
    <div id="jqxgrid"></div>
</div>
</body>
</html>